<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message from <%= message.name %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="info__container">
      <h1 class="info__title">
        <strong>A message from:</strong> <%= message.name %>
      </h1>
      <p class="info__text"><strong>Message:</strong> <%= message.message %></p>
      <p class="info__date">
        <strong>This message was created on:</strong> <%= new
        Date(message.added).toLocaleString('es-CO', { timeZone: 'America/Bogota' }) %>
      </p>
      <a class="info__btn" href="/">Back home</a>
    </div>
    <%- include('Footer') %>
  </body>
</html>
